@using EcartAssiggmnet.ViewModels
@model LoginViewModel
@{
    ViewBag.Title = "Login";
}
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}

<form action="#" method="post" target="_blank">
    <div id="wrapper1" class="wrapper" style="max-width: none;">
        <div class="login">
            <div class="login-form">
                <h1 class="login-title">Login</h1>
                <div class="form-wrapper">
                    <div class="input-wrapper">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <br>
                    <div class="input-wrapper">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <br>

                    <div class="actions">
                        <button type="submit" value="Login" class="btn btn-success">Login</button>
                        <div class="signup-action">
                            Don't have an account? &nbsp @Html.ActionLink("Sign Up", "Register", new { @style = "font-size:14px; " })
                        </div>
                    </div>

                </div>
            </div>
            <div class="login-decoration">

            </div>
        </div>
    </div>
</form>
<link href="~/css/Login.css" rel="stylesheet" />